main
{
	margin-left: 45px;
	margin-right: 45px; 
}

body
{
	font-size: 20px;
	color: #7D7D7D;
	background-color: #66CDAA;
	font-family: Tahoma, sans-serif;
	border: 8px solid FloralWhite;
}

figure
{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-right: 100px;
	margin-left: 100px; 
}	

figcaption
{
	font-style: italic;
}

header, footer, h1, h2, h3 
{
	text-align: center;
}

p
{
	margin-left: 15px;
	margin-right: 15px
}

table, th, td
{
	font-size: 25px;  
	border: 8px solid #677685;
	border-spacing: 5px;
	padding: 5px
}


.column {
  float: left;
  width: 47%;
  padding: 5px;
  text-align: center;
  
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.class
{
	text-align: left; 
}

a 
{ 
	color: #B8860B;
}

a:hover
{
	color: #FF00FF;
}